:root {
  --title-font: 'Comfortaa', sans-serif;
  --main-font: 'Montserrat Alternates', sans-serif;

  --bg-color: #111111;
  --white: #ffffff;
  --selected-bg: #a8a8a81f;

  --nav-elem-transition: 0.5s ease background;
}
